<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eppear.baiju.backstage.dao.mapper.auto.SysDictionaryDao">
  <resultMap id="BaseResultMap" type="com.eppear.baiju.backstage.dao.model.auto.SysDictionaryDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="DIC_TYPE_FLAG" jdbcType="VARCHAR" property="dicTypeFlag" />
    <result column="DIC_TYPE_CODE" jdbcType="VARCHAR" property="dicTypeCode" />
    <result column="DIC_TYPE_NAME" jdbcType="VARCHAR" property="dicTypeName" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CAN_UPDATE" jdbcType="CHAR" property="canUpdate" />
    <result column="REMAIN" jdbcType="VARCHAR" property="remain" />
  </resultMap>
</mapper>