<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eppear.baiju.backstage.dao.mapper.auto.SysRoleGrantDao">
  <resultMap id="BaseResultMap" type="com.eppear.baiju.backstage.dao.model.auto.SysRoleGrant">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ROLE_ID" jdbcType="INTEGER" property="roleId" />
    <result column="MENU_ID" jdbcType="INTEGER" property="menuId" />
    <result column="GRANT_TYPE" jdbcType="CHAR" property="grantType" />
    <result column="GRANT_FLAG" jdbcType="INTEGER" property="grantFlag" />
    <result column="BUTTON_ID" jdbcType="INTEGER" property="buttonId" />
    <result column="BTN_CODE" jdbcType="VARCHAR" property="btnCode" />
    <result column="OPER_ID" jdbcType="INTEGER" property="operId" />
    <result column="OPER_TIME" jdbcType="TIMESTAMP" property="operTime" />
  </resultMap>
</mapper>