<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eppear.baiju.backstage.dao.mapper.auto.SysRoleSpecBindDao">
  <resultMap id="BaseResultMap" type="com.eppear.baiju.backstage.dao.model.auto.SysRoleSpecBind">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ROLE_ID" jdbcType="INTEGER" property="roleId" />
    <result column="SPEC_ID" jdbcType="INTEGER" property="specId" />
    <result column="EXT1" jdbcType="VARCHAR" property="ext1" />
  </resultMap>
</mapper>